<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <link type="text/css" rel="stylesheet" href="/css/bootstrap.min.css" th:href="@{css/bootstrap.min.css}" />
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <title>Studenlist login</title>
    </head>
    <body>
    <div class="col-md-4 col-md-offset-4">
        <div class="alert alert-danger" th:if="${param.error}">
            Invalid username and password.
        </div>
        <div class="alert alert-warning" th:if="${param.logout}">
            You have been logged out.
        </div>
        <form th:action="@{/login}" method="post">
            <div><label> User Name : <input type="text" name="username" class="form-control"/> </label></div>
            <div><label> Password: <input type="password" name="password" class="form-control"/> </label></div>
            <div><input type="submit" value="Sign In" class="btn btn-success"/></div>
        </form>
    </div>
    </body>
</html>