<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Studentlist</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link type="text/css" rel="stylesheet" th:href="@{css/bootstrap.min.css}" />

</head>
<body>
<div class="col-md-4">
    <h1>Students</h1>
</div>
<div class="col-md-4">
    <h3 th:inline="text">Welcome [[${#httpServletRequest.remoteUser}]]</h3>
</div>
<div class="col-md-4" style="padding:20px 0">
    <form th:action="@{/logout}" method="post">
        <input type="submit" value="Sign Out" class="btn btn-danger"/>
    </form>
</div>

    <div style="padding:0 20px">
        <table class="table table-striped">
            <tr>
                <th>Name</th>
                <th>Email</th>
                <th>Kelas</th>
                <th>Actions</th>
            </tr>
                <tr th:each = "student : ${students}">
                <td th:text="${student.firstName} + ' ' + ${student.lastName}"></td>
                <td th:text="${student.email}"></td>
                <td th:text="${student.kelas}"></td>
                <td><a th:href="@{/delete/{id}(id=${student.id})}" class="btn btn-danger">Delete</a></td>
            </tr>
        </table>
    <a href="/add" class="btn btn-success">Add Student</a>
    </div>
</body>
</html>